th {
  text-align: left;
  font-style: bold;
}

table, th, td {
  border: solid 1px #f0f61f;
  border-collapse: collapse;
  padding: 10px;
  color: #0239ba;
}

body {
  background-color: #fd278a;
}

h1 {
  color: #0239ba;
}